.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 500px;
  height: 750px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.screen {
  width: 90%;
  height: 20%;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.content {
  font-size: 3em;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nodes {
  width: 90%;
  height: 70%;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
}

.numbers {
  width: 68%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.75em;
}

.numbers .node {
  width: 26%;
  height: 17%;
  font-size: 1.5em;
  background-color: rgba(128, 128, 128, 0.288);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.numbers .node:active {
  background-color: rgba(211, 211, 211, 0.719);
}

.operators {
  width: 20%;
  height: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.25em;
}

.operators .node {
  width: 84%;
  height: 17%;
  background-color: rgba(231, 150, 19, 0.856);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.operators .node:active {
  background-color: rgba(240, 195, 111, 0.883);
  transition: 0.1s;
}

#zero {
  width: 54%;
  border-radius: 60px;
}
